@import "./themes.less";


h1, h2, h3, h4, h5, h6{
    color: var(--layout-body-color);
    margin-top: 0px;
}
.toolbar-content{
    display: flex;
}

svg.menu {
    color: var(--layout-body-color);
    height: auto;
    width: 2rem !important;
}

.centerMain{
    text-align: center;
    margin-top: 150px !important;
}

.btnDeleteItem{
    float: right;
}

button{
    .login{
        &.button-md{
            height: 100px;
            width: 150px;
        }
    }
}
