:root {
--layout-body-background: #252525;
--layout-body-color: #FFFFFF;

--layout-login-background: #383838;

--nav-background: #252525;
--nav-fill: #FFFFFF;

--login-icon: #252525;

--button-background: #2B2B2B;
--button-color: #FFFFFF;
--button-login: #3E3E3E;
--button-list: #363636;
--button-edit: #6C6C6C;

--quantity-background: #646363;

--label-inner: #FFFFFF;
--accordion-background: #525252;

--router-color: #FFFFFF;
--router-active: #ffffff94;


}

[data-theme="light"]{

}

[data-theme="blue"]{

}

.layout-body-background{
    background: var(--layout-body-background);
}
.layout-body-color{
    color: var(--layout-body-color);
}
.layout-login-background{
    color: var(--layout-login-background);
}

.nav-background{
    background: var(--nav-background);
}
.nav-fill{
    fill: var(--nav-fill);
}

.m-button{
    color: var(--button-color);
}
.m-button-secondary{
    background-color: var(--button-background);
}
.m-button-login{
    background-color: var(--button-login);
}
.m-button-list{
    background-color: var(--button-list);
}
.m-button-edit{
    background-color: var(--button-edit);
}

.login-icon{
    fill: var(--login-icon);
}

.quantity-background{
    background: var(--quantity-background);
}

.header-md::after {
    background-image: none;
}

.label-inner{
    color: var(--label-inner);
}
.accordion-background{
    background: var(--accordion-background);
}

.router-color{
    color: var(--router-color);
}
.router-active{
    color: var(--router-active)
}