:root {
--layout-body-background: #383838;
--layout-body-color: #FFFFFF;

--nav-background: #252525;
--nav-fill: #FFFFFF;

--login-icon: #252525;

--button-background: #3E3E3E;
--button-color: #FFFFFF;


}

[data-theme="light"]{

}

[data-theme="blue"]{

}

.layout-body-background(){
    background: var(--layout-body-background);
}
.layout-body-color(){
    color: var(--layout-body-color);
}

.nav-background(){
    background: var(--nav-background);
}
.nav-fill(){
    fill: var(--nav-fill);
}

.m-button{
    color: var(--button-color);
}
.m-button-secondary{
    background-color: var(--button-background);
}

.login-icon{
    fill: var(--login-icon);
}